#game::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../public/fondo01.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1; /* ¡ESTO ES LO MÁS IMPORTANTE! */
    opacity: 0.6; /* Opcional: para que las cartas resalten más */
}
#game{
    font-family: "Luckiest Guy";

    h1{
        color: rgb(203, 57, 16);
        font-size: 120px; /* Tamaño para PC */
        margin-top: 200px;
        margin-bottom: 20px;
        padding: 0;
        text-align: center; /* Fuerza el centrado del texto */
        width: 100%;       /* Asegura que ocupe todo el ancho para centrar */
        
        text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    }

    #header{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        gap: 50px;
        margin-left: 0;
        font-size: 32px;
        margin-right: 25px;

        
        
        
        
    }
}

#options{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    margin-top: 0;
}
