#game::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./fondo01.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1; /* ¡ESTO ES LO MÁS IMPORTANTE! */
    opacity: 0.6; /* Opcional: para que las cartas resalten más */
}
#game{
    font-family: "Luckiest Guy";
}


