button{
    margin-top: 6%;
    width: 300px;
    padding: 22px;
    border-radius: 20px;
    background-color: rgb(203, 57, 16);
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #222; /* Un borde oscuro le da estilo sticker */
    transition: transform 1.2s;    
    
}

button:hover{
    
    transform: scale(1.1);

}

